@import url(global.css);

/* ..............footer.............. */
.footer-line .footer .container {
  border-top: 2px solid #e6e6f0;
  padding-left: 30px;
  padding-right: 30px;
}
.footer {
  background: #f5f5fa;
  padding: 30px 0;
}
.footer .wrapper {
  gap: 25px;
}
.adress-footer {
  gap: 10px;
  margin-top: 30px;
}
.adress-footer .adress {
  font-weight: 400;
  line-height: 20px;
  color: #323264;
}
.adress-footer .map {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer .contacts {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  gap: 10px;
}
.footer .contacts svg {
  color: #24a3ff;
  display: block;
}
.footer .contacts svg:hover {
  color: #f0145a;
}
.footer .contacts .tel {
  text-align: right;
  color: #46466e;
}
.footer .contacts .mail {
  color: #24a3ff;
}
.footer .contacts .mail:hover {
  color: #f0145a;
}
.footer .copyright {
  font-weight: 400;
  line-height: 20px;
  color: #b3b3ba;
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */
  .container {
    width: 100%;
    max-width: calc(768px + 120px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  .footer-line .footer .container {
    border-top: 2px solid #e6e6f0;
    padding-left: 60px;
    padding-right: 60px;
  }
  .footer .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: initial;
    gap: 30px;
  }
  .adress-footer {
    flex-direction: row;
  }

  .adress-footer .adress {
    margin-bottom: 0;
  }
  .footer .contacts {
    flex-direction: row;
    order: 1;
    width: 100%;
  }
  .footer .copyright {
    margin-bottom: 0;
    margin-top: 30px;
    text-align: left;
    order: 0;
  }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 1024px) {
  /* CSS для: 992px <= ширины <= 1119px */

  .container {
    width: 100%;
    max-width: calc(1024px + 120px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  .footer .wrapper {
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer .contacts {
    margin: 0;
    order: 1;
    width: 100%;
  }
  .footer .copyright {
    order: 0;
    margin-left: 0;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1440px) {
  /* CSS для: ширины >= 1200px */
  .container {
    width: 100%;
    max-width: calc(1320px + 120px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* xxl-устройства (больше или равно 1600px) */
@media (min-width: 1920px) {
  /* CSS для: ширины >= 1200px */
  .container {
    width: 100%;
    max-width: calc(1600px + 320px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
  }
}
