.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.min-h-screen {
  min-height: 100vh;
}
.wrap {
  flex-wrap: wrap;
}

.gradient {
  background-image: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  color: #ffffff;
}
.gradient-line {
  position: relative;
}
.gradient-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: calc(100% - 40px);
  height: 10px;
  background-color: #cacadb;
  border-radius: 0 0 12px 12px;
  z-index: 1;
}
.gradient-line::after {
  content: "";
  display: block;
  position: absolute;
  left: 40px;
  bottom: -20px;
  width: calc(100% - 80px);
  height: 10px;
  background-color: #e7e7f2;
  border-radius: 0 0 12px 12px;
  z-index: 1;
}

.bg-lightGrey {
  background-color: #f5f5fa;
  color: #b3b3ba;
}
.bg-323264 {
  background-color: #323264;
}
.bg-white {
  background-color: #ffffff;
}
.color-blue {
  color: #24a3ff;
}
.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  margin-bottom: 5px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 0;
}
