@import url(../../css/reset.css);
@import url(../../css/global.css);
@import url(../../css/header.css);
@import url(../../css/footer.css);

/* ............card-service................. */
.card-service {
  padding: 0 30px 60px 30px;
}
.card-service .card-service-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-service .card-title {
  margin-bottom: 10px;
}
.card-title svg {
  width: 12px;
  height: 12px;
}
.card-title:hover {
  color: #f0145a;
}

.text-down-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.card-service .text-down-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-service .card-service-wrapper img {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 14px;
  width: 64px;
  height: 64px;
}

.card-service .card-service-wrapper h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24a3ff;
  margin-bottom: 15px;
}
.card-service .card-service-wrapper h4:hover {
  color: #f0145a;
}
.card-service .card-service-wrapper .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 0;
}

/* ..................trust.................. */
.trust {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.trust h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
  text-align: center;
}

.partner {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bg-1c4280 {
  background-color: #1c4280;
}
.bg-143646 {
  background-color: #143646;
}
.bg-f48b30 {
  background-color: #f48b30;
}
.bg-9e4dc3 {
  background-color: #9e4dc3;
}
.bg-FD9339 {
  background-color: #fd9339;
}
.bg-E2E2E4 {
  background-color: #e2e2e4;
}
.bg-C71C36 {
  display: none;
  background-color: #c71c36;
}
.bg-DCF3F9 {
  display: none;
  background-color: #dcf3f9;
}
.bg-EAEAEA {
  display: none;
  background-color: #eaeaea;
}
.bg-282240 {
  display: none;
  background-color: #282240;
}
.bg-1D4568 {
  display: none;
  background-color: #1d4568;
}
.bg-000000 {
  display: none;
  background-color: #000000;
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */

  /* ............card-service................. */
  .card-service {
    padding: 0;
  }
  .card-service .card-service-wrapper {
    gap: 60px;
  }
  .card-service .card-service-wrapper h3 {
    font-size: 38px;
    line-height: 46px;
  }
  .text-down-wrapper {
    gap: 60px;
    flex-direction: row;
  }
  .card-service .text-down-card {
    max-width: 45.37%;
  }

  /* ..................trust.................. */
  .trust .container {
    padding-left: 0;
    padding-right: 0;
  }
  .trust h4 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    margin-bottom: 30px;
    text-align: center;
  }
  .partner-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .partner {
    max-width: 33.32%;
  }

  .bg-C71C36 {
    display: flex;
  }
  .bg-DCF3F9 {
    display: flex;
  }
  .bg-EAEAEA {
    display: flex;
  }
  .bg-282240 {
    display: flex;
  }
  .bg-1D4568 {
    display: flex;
  }
  .bg-000000 {
    display: flex;
  }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 1024px) {
  /* CSS для: 992px <= ширины <= 1119px */

  /* ............card-service................. */
  .card-service .card-service-wrapper {
    gap: 60px;
  }
  s .card-service .text-down-card {
    max-width: 28.88%;
  }

  /* ..................trust.................. */
  .partner {
    width: 25%;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1440px) {
  /* CSS для: ширины >= 1200px */

  /* ............card-service................. */
  .card-service .text-down-card {
    max-width: 30.3%;
  }

  /* ..................trust.................. */
  .partner {
    width: 25%;
  }
}

/* xxl-устройства (больше или равно 1600px) */
@media (min-width: 1920px) {
  /* CSS для: ширины >= 1200px */

  /* ............card-service................. */
  .card-service .text-down-card {
    max-width: 30.82%;
  }

  /* ..................trust.................. */
  .partner {
    width: 22.4%;
  }
}
