@import url(../../css/reset.css);
@import url(../../css/global.css);
@import url(../../css/header.css);
@import url(../../css/footer.css);

/* .............gdpr-section................ */
.gdpr-wrapper .underTitle {
  line-height: 20px;
  color: #46466e;
  margin-bottom: 15px;
}
.gdpr-wrapper .result-block li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-left: 30px;
  margin-top: 15px;
}

::marker {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #f0145a;
}

.gdpr-wrapper figure {
  width: 100%;
  display: block;
}
.gdpr-wrapper figcaption {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #b3b3ba;
  margin-top: 15px;
}
.gdpr-wrapper .underBlock {
  padding-bottom: 30px;
  border-bottom: 4px solid #e6e6f0;
}
.social-icon {
  display: flex;
  gap: 10px;
}
.social-icon .svg-wrapper {
  width: 42px;
  height: 42px;
  background-color: #f5f5fa;
  border-radius: 12px;
  padding: 10px 9px;
}
.social-icon .svg-wrapper:hover {
  background-color: #ededf7;
}

/* ..........card-publications.............. */
.card-publications {
  padding: 30px 30px 0 30px;
}
.gdpr-section {
  background-color: #ffffff;
  padding: 0 30px 60px 30px;
}

.card-publications .card-publications-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.publications-down-wrapper,
.gdpr-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.publications-down,
.gdpr-wrapper {
  background-color: #ffffff;
  min-height: max-content;
  border-radius: 8px;
}
.publications-down .img-wrapper {
  height: 200px;
}
.gdpr-wrapper .img-wrapper {
  width: 100%;
  height: 300px;
}
.img-wrapper img {
  display: block;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gdpr-wrapper .img-wrapper img {
  border-radius: 8px;
}

.card-publications .card-text {
  margin: 30px;
}
.card-publications .card-publications-wrapper h4 {
  line-height: 20px;
  color: #24a3ff;
  margin-bottom: 15px;
}
.gdpr-wrapper .card-text h4 {
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  margin-bottom: 15px;
}
.card-publications .card-publications-wrapper h4:hover {
  color: #f0145a;
}

.card-publications .data,
.gdpr-wrapper .data {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}
.card-publications .card-publications-wrapper .data::after {
  content: "";
  display: block;
  min-width: 255px;
  height: 4px;
  background-color: #e6e6f0;
  margin: 15px 0;
}

.gdpr-wrapper .data::after {
  content: "";
  display: block;
  min-width: 255px;
  height: 4px;
  background-color: #e6e6f0;
  margin: 30px 0;
}
.card-publications .card-publications-wrapper .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.gdpr-wrapper .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */

  /* .............gdpr-section................ */
  .gdpr-section {
    padding: 0 0 60px 0;
  }
  .gdpr-wrapper .img-wrapper {
    height: 500px;
  }
  .gdpr-wrapper .card-text h4 {
    font-size: 30px;
    line-height: 37px;
  }
  .gdpr-wrapper .underTitle {
    font-size: 22px;
    line-height: 27px;
  }
  .gdpr-wrapper figure {
    margin: 0 4px;
  }

  /* ..........card-publications.............. */
  .card-publications {
    padding: 30px 0 0 0;
  }
  .card-publications .card-publications-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-publications .card-publications-wrapper h3,
  .gdpr-wrapper h1 {
    font-size: 38px;
    line-height: 46px;
  }

  .publications-down {
    max-width: 47.68%;
  }
  .publications-down:last-child {
    min-width: 100%;
    object-fit: cover;
  }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 1024px) {
  /* CSS для: 992px <= ширины <= 1119px */

  /* .............gdpr-section................ */
  .gdpr-wrapper .img-wrapper {
    height: 500px;
  }
  .gdpr-wrapper figure {
    margin: 0 132px;
  }

  /* ..........card-publications.............. */
  .publications-down {
    max-width: 31.1%;
  }
  .publications-down:last-child {
    min-width: 31%;
    object-fit: none;
  }

  .img-wrapper img {
    display: block;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1440px) {
  /* CSS для: ширины >= 1200px */

  /* .............gdpr-section................ */
  .gdpr-wrapper {
    margin: 0 120px;
  }
  .gdpr-wrapper figure {
    margin: 0 220px;
  }

  /* ..........card-publications.............. */
  .publications-down {
    max-width: 31.8%;
  }
}

/* xxl-устройства (больше или равно 1600px) */
@media (min-width: 1920px) {
  /* CSS для: ширины >= 1200px */

  /* .............gdpr-section................ */
  .gdpr-wrapper figure {
    margin: 0 360px;
  }

  /* ..........card-publications.............. */
  .publications-down {
    max-width: 32.08%;
  }
}
