@import url(../../../css/reset.css);
@import url(../../../css/global.css);
@import url(../../../css/header.css);
@import url(../../../css/footer.css);

/* ............card-service................. */
.text-down-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}
.text-down-card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 0 30px;
}

.text-down-card img {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 14px;
  width: 64px;
  height: 64px;
}

.text-down-card h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-down-card h4:hover {
  color: #f0145a;
}
.text-down-card .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.btn-line {
  width: 100%;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

.service-area {
  text-align: left;
  padding: 0 30px;
  margin-bottom: 60px;
}
.service-area h3 {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}

::marker {
  color: #f0145a;
}
.service-area ul {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 30px;
}

.service-area li + li {
  margin-top: 15px;
}

.white {
  background-color: #ffffff;
  padding-bottom: 80px;
}

/* ..........card-publications.............. */
.card-publications {
  /* background-color: #f5f5fa; */
  padding: 30px 30px 0 30px;
}

.card-publications .card-publications-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.publications-down-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.publications-down {
  background-color: #ffffff;
  min-height: max-content;
  border-radius: 8px;
}
.img-wrapper {
  height: 200px;
}
.img-wrapper img {
  display: block;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-publications .card-text {
  margin: 30px;
}
.card-publications .card-publications-wrapper h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  margin-bottom: 15px;
}
.card-publications .card-publications-wrapper h4:hover {
  color: #f0145a;
}

.card-publications .data {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  margin-bottom: 0;
}
.card-publications .card-publications-wrapper .data::after {
  content: "";
  display: block;
  min-width: 255px;
  height: 4px;
  background-color: #e6e6f0;
  margin: 15px 0;
}
.card-publications .card-publications-wrapper .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 0;
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */

  /* ............card-service................. */

  .text-down-card {
    padding: 0;
  }
  .card-service-wrapper {
    gap: 60px;
  }
  .btn-blue {
    margin-bottom: 60px;
  }
  .service-area {
    padding: 0 0;
  }
  .service-area ul {
    column-count: 2;
  }

  /* ..........card-publications.............. */
  .card-publications {
    padding: 30px 0 0 0;
  }
  .card-publications .card-publications-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-publications .card-publications-wrapper h3 {
    font-size: 38px;
    line-height: 46px;
  }
  .publications-down {
    max-width: 47.68%;
  }
  .publications-down:last-child {
    min-width: 100%;
    object-fit: cover;
  }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 1024px) {
  /* CSS для: 992px <= ширины <= 1119px */

  /* ..........card-publications.............. */
  .publications-down {
    max-width: 31.1%;
  }
  .publications-down:last-child {
    min-width: 31%;
    object-fit: none;
  }

  .img-wrapper img {
    display: block;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1440px) {
  /* CSS для: ширины >= 1200px */

  /* ............card-service................. */
  .text-down-wrapper {
    margin: 0 120px;
  }

  /* ..........card-publications.............. */
  .publications-down {
    max-width: 31.8%;
  }
}

/* xxl-устройства (больше или равно 1600px) */
@media (min-width: 1920px) {
  /* CSS для: ширины >= 1200px */

  /* ..........card-publications.............. */
  .publications-down {
    max-width: 32.08%;
  }
}
