@import url(../../css/reset.css);
@import url(../../css/global.css);
@import url(../../css/header.css);
@import url(../../css/footer.css);

.bg-gradient {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.about-section {
  margin: 0 30px 30px 30px;
}
.about-section .about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.description {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  margin-top: 28px;
}
br + .description {
  margin-top: 0;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 4px solid #e6e6f0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}
.card img {
  width: 32px;
  height: 32px;
}
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card .number {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.cardWrapper .text {
  font-weight: 400;
  line-height: 20px;
  color: #323264;
}

.bg-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 114px;
  background: url("../../images/Team.png") no-repeat center/contain;
  background-size: cover;
}
.bg-image h1 {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 13px;
  text-transform: uppercase;
  color: #ffffff;
}
.sectionDown {
  margin: 30px 30px 60px 30px;
}
.sectionDown .title {
  margin-top: 30px;
}
.sectionDown .description {
  margin-top: 0;
}

.slider {
  padding: 30px;
}
.slider h4 {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
}
.sliderWrapper {
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0 30px;
}
.sliderWrapper img {
  margin: 25px auto;
  height: 40px;
}

.slick-dots li button:before {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24a3ff;
  color: #24a3ff;
  opacity: 0.2;
  margin-top: 30px;
}
.slick-dots li.slick-active button:before {
  background-color: #24a3ff;
  color: #24a3ff;
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */
  .about-section {
    margin: 0 0 60px 0;
  }
  .title {
    font-size: 38px;
    line-height: 46px;
  }
  .bg-image {
    height: 233px;
  }
  .bg-image h1 {
    font-size: 46px;
    line-height: 56px;
  }
  .sectionDown {
    margin: 60px 0;
  }
  .slider {
    padding: 30px 0;
  }

  .sliderWrapper {
    margin: 0 20px;
  }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 1024px) {
  /* CSS для: 992px <= ширины <= 1119px */
  .about-section .about-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .cardWrapper {
    min-width: 43%;
    max-height: 322px;
  }
  .bg-image {
    height: 311px;
  }
  .bg-image h1 {
    font-size: 86px;
    line-height: 105px;
  }
  .sectionDownWrapper {
    display: flex;
    gap: 60px;
  }
  .sectionDown .title {
    margin-top: 0;
    min-width: 40%;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1440px) {
  /* CSS для: ширины >= 1200px */
  .about-section {
    padding: 0 120px;
  }
  .cardWrapper {
    min-width: 36%;
  }
  .bg-image {
    height: 438px;
  }
  .bg-image h1 {
    font-size: 96px;
    line-height: 117px;
  }
  .sectionDownWrapper {
    padding: 0 120px;
  }
  .sectionDown .title {
    min-width: 33.5%;
  }
}

/* xxl-устройства (больше или равно 1600px) */
@media (min-width: 1920px) {
  /* CSS для: ширины >= 1200px */
  .cardWrapper {
    min-width: 29%;
  }
  .bg-image {
    height: 584px;
  }
  .sectionDown .title {
    min-width: 27.5%;
  }
}
